body,
html {
  background-color: #fcfcfd;
  min-height: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #323232;
}

.main-content {
  max-width: 900px;
  width: 100%;
  margin: 24px;
}

.nav-header {
  height: 56px;
  background-color: #232323;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header p {
  color: white;
}

.nav-header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-header-right a {
  color: white;
  text-decoration: none;
}

.nav-header-right a:hover {
  color: #cecece;
  text-decoration: none;
}

.title-row {
  display: flex;
  justify-content: space-between;
}

input,
select {
  padding: 8px;
  font-size: 16px;
  background-color: white;
  border: 1px solid #cecece;
  border-radius: 8px;
}

input[type="button"],
button,
input[type="submit"] {
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  background-color: #efefef;
  border: 1px solid #cecece;
  border-radius: 8px;
}

input[type="button"]:hover,
button:hover,
input[type="submit"]:hover {
  background-color: #cecece;
}

input[type="number"] {
  width: 60px;
}

.err {
  margin-top: 16px;
  background-color: #c94b70;
  padding: 16px;
  align-self: stretch;
  border-radius: 18px;
  border: 1px solid #a63355;
}

.err p {
  color: white;
}

.semibold {
  font-weight: 600;
}
