.order-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
}

.order-list-item {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 16px;
}

.order-list-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.article-list {
  margin-top: 12px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.article-list p {
  color: #888;
  font-size: 14px;
}

.order-list-item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.order-list-item-status {
  font-weight: bold;
  font-size: 16px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.order-list-item-price {
  font-size: 14px;
}
