.form {
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
