.table-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
}

.table-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.table-list-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
